name: Auto-update
# Auto-update only listens to `push` events.
# If a pull request is already outdated when enabling auto-merge, manually click on the "Update branch" button a first time to avoid having to wait for another commit to land on the base branch for the pull request to be updated.
on: push
# If pull requests are always based on the same branches, only triggering the workflow when these branches receive new commits will minimize the workflow execution.
# on:
#   push:
#     branches:
#       - main

jobs:
  Auto:
    name: Auto-update
    runs-on: ubuntu-latest
    steps:
      - name: Update ${{ github.ref }} branch in ${{ github.repository }} repository.
      - uses: tibdex/auto-update@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Validate ${{ github.ref }} has correctly formatted title and body.
      - uses: actions/github-script@v6
        with:
          script: |
            const script = require('././github/workflows/ts/validate-pr-metadata.ts');
            return await script({github, context}, 'Validating PR Metadata');
