name: PR Validator

on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

jobs:
  Auto:
    name: PR Validator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }} branch in ${{ github.repository }} repository.
        uses: actions/checkout@v3

      - name: Validate ${{ github.ref }} has correctly formatted title and body.
        uses: actions/github-script@v6
        with:
          script: |
            const pull_request = context.payload.pull_request;
            const script = require('./.github/workflows/ts/validate-pr-metadata.ts');
            return await script({github, context, core}, 'Validating PR Metadata', /^\[?([a-zA-Z]+-\d+)\]?.*$/gm, '', /WIP/, pull_request);
