name: PR Validator

on:
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

jobs:
  Auto:
    name: PR Validator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }} branch in ${{ github.repository }} repository.
        uses: actions/checkout@v3

      - name: Validate ${{ github.ref }} has correctly formatted title and body.
        uses: actions/github-script@v6
        with:
          script: |
            const pr_title_regex = /^\[?([a-zA-Z]+-\d+)\]?.*$/gm;
            const body_regex = '';
            const blocking_title_regex = /WIP/;

            const pull_request = context.payload.pull_request;
            const script = require('./.github/workflows/ts/validate-pr-metadata.ts');
            return await script({github, context, core}, 'Validating PR Metadata', pr_title_regex, body_regex, blocking_title_regex, pull_request);
